html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.btn-save {
  position: fixed;
  left: 20px;
  bottom: 20px;
  z-index: 100;
}

.doc_editor {
  padding-top: 15px;
  min-width: 320px;
  width: 100%;
  height: 100vh;
}

.doc_reviewer {
  padding-top: 20px;
}

.keiyaku table {
  @extend .table
}
