html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.hero-unit {
  min-height: 270px !important;
  background-image: image-url("concept.jpg") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
  padding: 0 !important;
  margin: 0;
}

.white-cover {
  min-height: 270px !important;
  background-color: rgba(255, 255, 255, 0.5) !important;
  background-size: cover !important;
}

.description {
  margin-top: 30px !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.left-bottom-fixed {
  position: fixed;
  left: 20px;
  bottom: 20px;
  z-index: 100;
}

.top-fixed {
  position: fixed;
  top: 70px;
  z-index: 120;
}

.document {
  margin: 10px !important;
}

.input_value {
  margin-bottom: 10px;
}

.document_reviewer {
  padding-top: 20px;
  word-wrap: break-word;
  min-height: 320px;
}

.document_editor {
  padding: 10px;
  min-width: 320px;
  width: 100%;
  min-height: 100%;
}

.keiyaku table {
}

