@import "semantic-ui/semantic.min.css";

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.left-bottom-fixed {
  position: fixed;
  left: 20px;
  bottom: 20px;
  z-index: 100;
}

.top-fixed {
  position: fixed;
  top: 70px;
  z-index: 120;
}

.document {
  margin: 10px !important;
}

.input_value {
  margin-bottom: 10px;
}

.document_reviewer {
  padding-top: 20px;
  word-wrap: break-word;
  min-height: 320px;
}

.document_editor {
  padding: 10px;
  min-width: 320px;
  width: 100%;
  min-height: 100%;
}

.keiyaku table {
}

